/******************************************** TAG SELECTOR ****************************************/

body{
  background-color: #EAF6F6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}

/*
    The are two special types of selectors, class selectors and id selectors.
        >> The two have a similarity between them and that is
            if you explicitly define the style for a particular tag with tag selectors and class/id
            selectors, then the tag selector is overwritten by the class/id selectors.
        >> The difference is that while defining, class is defined with a "." and id with a "#"
        >> The next difference is, with id selectors you can define only one instance of it, while
            for class, you may create as many instances you want.          
*/

/******************************************** CLASS SELECTOR ****************************************/

.edu{
  color: #185ADB;
}

.we{
  color: #0A81AB;
}

.skills{
  color: #5AA897;
}

/******************************************** ID SELECTOR ****************************************/
#heading{
  color: #19456B;
}
